body {
    background-image: url('Wod.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

nav {
    display: flex;
    flex-direction: column;
}


